In [ ]:
# Configuracion para recargar módulos y librerías 
%reload_ext autoreload
%autoreload 2

# MAT281

## Aplicaciones de la Matemática en la Ingeniería

Puedes ejecutar este jupyter notebook de manera interactiva:

[![Binder](../shared/images/jupyter_binder.png)](https://mybinder.org/v2/gh/sebastiandres/mat281_m05_proyectos/master?filepath=01_presentacion/01_presentacion.ipynb)

[![Colab](../shared/images/jupyter_colab.png)](https://colab.research.google.com/github/sebastiandres/mat281_m05_proyectos/blob/master//01_presentacion/01_presentacion.ipynb)

## Proyecto de Data Science
### Reglas

El siguiente proyecto debe realizarse de manera individual. No es aceptable bajo ninguna circunstancia copiar y pegar código de otros estudiantes. Pueden consultar referencias en internet (stackoverflow, por ejemplo), pero deben indicar sus fuentes cuando corresponda y evitar copiar y pegar texto y código. Todo el código debe ser ejecutable y las fórmulas en markdown y latex.

Nombre: [COLOCAR NOMBRE ACA]

Rol: [COLOCAR ROL ACA]

### Fechas

El proyecto considera tres clases (14, 18 y 21 de diciembre, 2018) en las cuales el estudiante debe utilizar los conocimientos y herramientas aprendidos en el curso. 

__Al final de cada clase__, el estudiante debe enviar un archivo zip nombrado como __proyecto\_mat281\_{YYYYMMDD}\_{NOMBRE_ESTUDIANTE}.zip__ que contenga el .ipynb y la carpeta con los datos. Como siempre, debe ser enviado a alonso.ogueda@gmail.com y sebastian.flores@usm.cl.

### Cada vez más cerca del mundo real

El proyecto consiste de tres fases:
* __Preprocesamiento__
* __Modelamiento__
* __Visualizaciones__

Se dispone de un set de datos común para todos, correspondiente a datos de estudiantes en dos escuelas portuguesas [(fuente)](https://archive.ics.uci.edu/ml/datasets/student+performance). En la carpeta `data` se encuentran los archivos `student-mat.csv` y `student-por.csv`, mientras que `student.txt` posee la descripción de los datos y atributos.

## Objetivos de la primera clase

El estudiante debe analizar los datos del archivo `student-por.csv`, realizar análisis de datos y pre-procesamiento, para finalmente entregar una propuesta de modelamiento de estos datos.

Por ejemplo, realizar predicción de X variable utilizando el algoritmo Z.

__Importante:__ Idealmente no se debe repetir el modelamiento entre los estudiantes de MAT281.

In [2]:
import os
import numpy as np
import pandas as pd
import altair as alt

pd.set_option("display.max_columns",999)

In [5]:
stud_por = pd.read_csv(os.path.join("data", "student-por.csv"), sep=";")
stud_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

Para ver la descripción de los atributos podemos usar la ya clásica celda mágica con comandos de `bash`.

In [9]:
%%bash
cat data/student.txt

# Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
1 school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)
2 sex - student's sex (binary: "F" - female or "M" - male)
3 age - student's age (numeric: from 15 to 22)
4 address - student's home address type (binary: "U" - urban or "R" - rural)
5 famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)
6 Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)
7 Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
8 Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
9 Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
10 Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
11 reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
12 guardian - student's guardian (nominal: "mother", "father" or "other")
13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
15 failures - number of past class failures (numeric: n if 1<=n<3, else 4)
16 schoolsup - extra educational support (binary: yes or no)
17 famsup - family educational support (binary: yes or no)
18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
19 activities - extra-curricular activities (binary: yes or no)
20 nursery - attended nursery school (binary: yes or no)
21 higher - wants to take higher education (binary: yes or no)
22 internet - Internet access at home (binary: yes or no)
23 romantic - with a romantic relationship (binary: yes or no)
24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)
26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)
27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
29 health - current health status (numeric: from 1 - very bad to 5 - very good)
30 absences - number of school absences (numeric: from 0 to 93)

# these grades are related with the course subject, Math or Portuguese:
31 G1 - first period grade (numeric: from 0 to 20)
31 G2 - second period grade (numeric: from 0 to 20)
32 G3 - final grade (numeric: from 0 to 20, output target)

Additional note: there are several (382) students that belong to both datasets .
These students can be identified by searching for identical attributes
that characterize each student, as shown in the annexed R file.

## Análisis de Datos

## Pre-procesamiento

## Propuesto de Modelamiento

A partir de los datos se propone ...