In [ ]:
# Configuracion para recargar módulos y librerías 
%reload_ext autoreload
%autoreload 2

# MAT281 - Laboratorio 4

## Aplicaciones de la Matemática en la Ingeniería

Puedes ejecutar este jupyter notebook de manera interactiva:

[![Binder](../shared/images/jupyter_binder.png)](https://mybinder.org/v2/gh/sebastiandres/mat281_m01_introduccion/master?filepath=00_template/00_template.ipynb)

[![Colab](../shared/images/jupyter_colab.png)](https://colab.research.google.com/github/sebastiandres/mat281_m01_introduccion/blob/master//00_template/00_template.ipynb)

## __Intrucciones__

* Completa tus datos personales (nombre y rol USM).
* Debes enviar este .ipynb con el siguiente formato de nombre: 03_formato_datos_NOMBRE_APELLIDO.ipynb con tus respuestas a alonso.ogueda@gmail.com y sebastian.flores@usm.cl .
* Se evaluará:
    - Soluciones
    - Código
    - Al presionar  `Kernel -> Restart Kernel and Run All Cells` deben ejecutarse todas las celdas sin error.
    - La escala es de 0 a 4 considerando solo valores enteros.
* __La entrega es al final de esta clase.__

__Nombre__:

__Rol__:

## ¿Qué contenido aprenderemos?
* Tipos de Datos Comunes
* API (Data Chile)

## Motivación

Como ya hemos comentado en clases pasadas, hoy los datos son el centro de atención en el mundo tecnológico. Por lo mismo existe una amplia gama de tipos de datos lo cual conlleva a distintas formas de obtención y manipulación de estos datos. 

En el laboratorio de hoy nos comenzaremos conociendo los tipos más comunes de datos para luego centrarnos en la obtención de datos a través de __API__. Los ejemplos y ejercicios serán a partir de la API de Data Chile.

## Tipos de datos comunes

### CSV

Del inglés _Comma-Separated Values_, los archivos CSV utilizan comas (",") para separar valores y cada registro consiste de una fila. 

- Pros:
    * Livianos.
    * De fácil entendimiento.
    * Editables usando un editor de texto.
- Contras:
    * No está totalmente estandarizado (e.g. ¿Qué pasa si un valor tiene comas?)
    * Son sensible al _encoding_ (es la forma en que se codifica un carácter).
    
Pandas posee su propia función para leer csv: `pd.read_csv()`.

In [3]:
import os
import pandas as pd

In [2]:
# Documentación
pd.read_csv?

Signature: pd.read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
Docstring:
Read CSV (comma-separated) file into DataFrame

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the `online docs for IO Tools
<http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

Parameters
----------
filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
object with a read() method (such as a file handle or StringIO)
    The string could be a URL. Valid URL schemes include http, ftp, s3, and
    file. For file URLs, a host is expected. For instance, a local file could
    be file://localhost/path/to/table.csv
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
delimiter : str, default ``None``
    Alternative argument name for sep.
delim_whitespace : boolean, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.

    .. versionadded:: 0.18.1 support for the Python parser.

header : int or list of ints, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so header=0 denotes the first line of
    data rather than the first line of the file.
names : array-like, default None
    List of column names to use. If file contains no header row, then you
    should explicitly pass header=None. Duplicates in this list will cause
    a ``UserWarning`` to be issued.
index_col : int or sequence or False, default None
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider index_col=False to force pandas to _not_
    use the first column as the index (row names)
usecols : list-like or callable, default None
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
    order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : boolean, default False
    If the parsed data only contains one column then return a Series
prefix : str, default None
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : boolean, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels
true_values : list, default None
    Values to consider as True
false_values : list, default None
    Values to consider as False
skipinitialspace : boolean, default False
    Skip spaces after delimiter.
skiprows : list-like or integer or callable, default None
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c')
nrows : int, default None
    Number of rows of file to read. Useful for reading pieces of large files
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : boolean, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file
verbose : boolean, default False
    Indicate number of NA values placed in non-numeric columns
skip_blank_lines : boolean, default True
    If True, skip over blank lines rather than interpreting as NaN values
parse_dates : boolean or list of ints or names or list of lists or dict, default False

    * boolean. If True -> try parsing the index.
    * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
      'foo'

    If a column or index contains an unparseable date, the entire column or
    index will be returned unaltered as an object data type. For non-standard
    datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : boolean, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : boolean, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, default None
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : boolean, default False
    DD/MM format dates, international and European format
iterator : boolean, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, default None
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

thousands : str, default None
    Thousands separator
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
float_precision : string, default None
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.
lineterminator : str (length 1), default None
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : boolean, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), default None
    One-character string used to escape delimiter when quoting is QUOTE_NONE.
comment : str, default None
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, default None
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
dialect : str or csv.Dialect instance, default None
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
tupleize_cols : boolean, default False
    .. deprecated:: 0.21.0
       This argument will be removed and will always convert to MultiIndex

    Leave a list of tuples on columns as is (default is to convert to
    a MultiIndex on the columns)
error_bad_lines : boolean, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : boolean, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
low_memory : boolean, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser)
memory_map : boolean, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.

Returns
-------
result : DataFrame or TextParser
File:      ~/miniconda3/envs/ds-py3/lib/python3.6/site-packages/pandas/io/parsers.py
Type:      function

### Ejemplo de encoding incorrecto

In [18]:
pd.read_csv(os.path.join('data', 'encoding_example.csv'), sep=',', encoding='GBK')

  nombre apellido  edad
0   Juan    P茅rez  12.0
1   Le贸n    Pardo  29.0
2   Jos茅    Nu帽ez   NaN

### Ejemplo de encoding correcto

In [22]:
pd.read_csv(os.path.join('data', 'encoding_example.csv'), sep=',', encoding='utf8')

  nombre apellido  edad
0   Juan    Pérez  12.0
1   León    Pardo  29.0
2   José    Nuñez   NaN

### JSON

Acrónimo de _JavaScript Object Notation_, utilizado principalmente para intercambiar datos entre una aplicación web y un servidor.

- Pros:
    * Livianos.
    * De fácil entendimiento.
    * Editables usando un editor de texto.
    * Formato estandarizado.
- Contras:
    * La lectura con pandas puede ser un poco complicada.
    
Pandas posee su propia función para leer JSON: `pd.read_json()`.

In [26]:
pd.read_json?

Signature: pd.read_json(path_or_buf=None, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False, chunksize=None, compression='infer')
Docstring:
Convert a JSON string to pandas object

Parameters
----------
path_or_buf : a valid JSON string or file-like, default: None
    The string could be a URL. Valid URL schemes include http, ftp, s3, and
    file. For file URLs, a host is expected. For instance, a local file
    could be ``file://localhost/path/to/table.json``

orient : string,
    Indication of expected JSON string format.
    Compatible JSON strings can be produced by ``to_json()`` with a
    corresponding orient value.
    The set of possible orients is:

    - ``'split'`` : dict like
      ``{index -> [index], columns -> [columns], data -> [values]}``
    - ``'records'`` : list like
      ``[{column -> value}, ... , {column -> value}]``
    - ``'index'`` : dict like ``{index -> {column -> value}}``
    - ``'columns'`` : dict like ``{column -> {index -> value}}``
    - ``'values'`` : just the values array

    The allowed and default values depend on the value
    of the `typ` parameter.

    * when ``typ == 'series'``,

      - allowed orients are ``{'split','records','index'}``
      - default is ``'index'``
      - The Series index must be unique for orient ``'index'``.

    * when ``typ == 'frame'``,

      - allowed orients are ``{'split','records','index',
        'columns','values', 'table'}``
      - default is ``'columns'``
      - The DataFrame index must be unique for orients ``'index'`` and
        ``'columns'``.
      - The DataFrame columns must be unique for orients ``'index'``,
        ``'columns'``, and ``'records'``.

    .. versionadded:: 0.23.0
       'table' as an allowed value for the ``orient`` argument

typ : type of object to recover (series or frame), default 'frame'
dtype : boolean or dict, default True
    If True, infer dtypes, if a dict of column to dtype, then use those,
    if False, then don't infer dtypes at all, applies only to the data.
convert_axes : boolean, default True
    Try to convert the axes to the proper dtypes.
convert_dates : boolean, default True
    List of columns to parse for dates; If True, then try to parse
    datelike columns default is True; a column label is datelike if

    * it ends with ``'_at'``,

    * it ends with ``'_time'``,

    * it begins with ``'timestamp'``,

    * it is ``'modified'``, or

    * it is ``'date'``

keep_default_dates : boolean, default True
    If parsing dates, then parse the default datelike columns
numpy : boolean, default False
    Direct decoding to numpy arrays. Supports numeric data only, but
    non-numeric column and index labels are supported. Note also that the
    JSON ordering MUST be the same for each term if numpy=True.
precise_float : boolean, default False
    Set to enable usage of higher precision (strtod) function when
    decoding string to double values. Default (False) is to use fast but
    less precise builtin functionality
date_unit : string, default None
    The timestamp unit to detect if converting dates. The default behaviour
    is to try and detect the correct precision, but if this is not desired
    then pass one of 's', 'ms', 'us' or 'ns' to force parsing only seconds,
    milliseconds, microseconds or nanoseconds respectively.
lines : boolean, default False
    Read the file as a json object per line.

    .. versionadded:: 0.19.0

encoding : str, default is 'utf-8'
    The encoding to use to decode py3 bytes.

    .. versionadded:: 0.19.0

chunksize: integer, default None
    Return JsonReader object for iteration.
    See the `line-delimted json docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-jsonl>`_
    for more information on ``chunksize``.
    This can only be passed if `lines=True`.
    If this is None, the file will be read into memory all at once.

    .. versionadded:: 0.21.0

compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer', then use
    gzip, bz2, zip or xz if path_or_buf is a string ending in
    '.gz', '.bz2', '.zip', or 'xz', respectively, and no decompression
    otherwise. If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.21.0

Returns
-------
result : Series or DataFrame, depending on the value of `typ`.

Notes
-----
Specific to ``orient='table'``, if a :class:`DataFrame` with a literal
:class:`Index` name of `index` gets written with :func:`to_json`, the
subsequent read operation will incorrectly set the :class:`Index` name to
``None``. This is because `index` is also used by :func:`DataFrame.to_json`
to denote a missing :class:`Index` name, and the subsequent
:func:`read_json` operation cannot distinguish between the two. The same
limitation is encountered with a :class:`MultiIndex` and any names
beginning with ``'level_'``.

See Also
--------
DataFrame.to_json

Examples
--------

>>> df = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                   index=['row 1', 'row 2'],
...                   columns=['col 1', 'col 2'])

Encoding/decoding a Dataframe using ``'split'`` formatted JSON:

>>> df.to_json(orient='split')
'{"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}'
>>> pd.read_json(_, orient='split')
      col 1 col 2
row 1     a     b
row 2     c     d

Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

>>> df.to_json(orient='index')
'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'
>>> pd.read_json(_, orient='index')
      col 1 col 2
row 1     a     b
row 2     c     d

Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
Note that index labels are not preserved with this encoding.

>>> df.to_json(orient='records')
'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'
>>> pd.read_json(_, orient='records')
  col 1 col 2
0     a     b
1     c     d

Encoding with Table Schema

>>> df.to_json(orient='table')
'{"schema": {"fields": [{"name": "index", "type": "string"},
                        {"name": "col 1", "type": "string"},
                        {"name": "col 2", "type": "string"}],
                "primaryKey": "index",
                "pandas_version": "0.20.0"},
    "data": [{"index": "row 1", "col 1": "a", "col 2": "b"},
            {"index": "row 2", "col 1": "c", "col 2": "d"}]}'
File:      ~/miniconda3/envs/ds-py3/lib/python3.6/site-packages/pandas/io/json/json.py
Type:      function

In [28]:
pd.read_json(os.path.join('data', 'gasto_fiscal.json')).head()

,anio,mes,partida,capitulo,programa,subtitulo,monto
0,2009,Abril,Congreso Nacional,Biblioteca Del Congreso,Biblioteca Del Congreso,ADQUISICIÓN DE ACTIVOS NO FINANCIEROS,21082
1,2009,Abril,Congreso Nacional,Biblioteca Del Congreso,Biblioteca Del Congreso,BIENES Y SERVICIOS DE CONSUMO,152607
10,2009,Abril,Congreso Nacional,Cámara De Diputados,Cámara De Diputados,GASTOS EN PERSONAL,2037570
100,2009,Abril,Ministerio De Defensa Nacional,Armada De Chile,Armada De Chile,INICIATIVAS DE INVERSIÓN,630289
1000,2009,Abril,Ministerio De Transportes Y Telecomunicaciones,Junta De Aeronáutica Civil,Junta De Aeronáutica Civil,ADQUISICIÓN DE ACTIVOS NO FINANCIEROS,0

### Pickle

Es un módulo que implementa protocolos binarios de serialización y des-serialización de objetos de Python.

* Pros
    - Puede representar una inmensa cantidad de tipos de objetos de python.
    - En un contexto de seguridad, como no es legible por el ser humano (representación binaria) puede ser útil para almacenar datos sensibles.
* Contras:
    - Solo Python.
    - Si viene de un tercero podría tener contenido malicioso.
    
Pandas posee su propia función para leer JSON: `pd.read_pickle()`.

In [87]:
pd.read_pickle?

Signature: pd.read_pickle(path, compression='infer')
Docstring:
Load pickled pandas object (or any object) from file.

.. warning::

   Loading pickled data received from untrusted sources can be
   unsafe. See `here <https://docs.python.org/3/library/pickle.html>`__.

Parameters
----------
path : str
    File path where the pickled object will be loaded.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer', then use
    gzip, bz2, xz or zip if path ends in '.gz', '.bz2', '.xz',
    or '.zip' respectively, and no decompression otherwise.
    Set to None for no decompression.

    .. versionadded:: 0.20.0

Returns
-------
unpickled : type of object stored in file

See Also
--------
DataFrame.to_pickle : Pickle (serialize) DataFrame object to file.
Series.to_pickle : Pickle (serialize) Series object to file.
read_hdf : Read HDF5 file into a DataFrame.
read_sql : Read SQL query or database table into a DataFrame.
read_parquet : Load a parquet object, returning a DataFrame.

Examples
--------
>>> original_df = pd.DataFrame({"foo": range(5), "bar": range(5, 10)})
>>> original_df
   foo  bar
0    0    5
1    1    6
2    2    7
3    3    8
4    4    9
>>> pd.to_pickle(original_df, "./dummy.pkl")

>>> unpickled_df = pd.read_pickle("./dummy.pkl")
>>> unpickled_df
   foo  bar
0    0    5
1    1    6
2    2    7
3    3    8
4    4    9

>>> import os
>>> os.remove("./dummy.pkl")
File:      ~/miniconda3/envs/ds-py3/lib/python3.6/site-packages/pandas/io/pickle.py
Type:      function

In [86]:
pd.read_pickle(os.path.join('data', 'nba.pkl')).head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

### SQL

Conocimos las bases de datos relacionales SQL en el laboratorio pasado y como recordarás existe la función `pd.read_sql()`.

In [84]:
pd.read_sql?

Signature: pd.read_sql(sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None)
Docstring:
Read SQL query or database table into a DataFrame.

This function is a convenience wrapper around ``read_sql_table`` and
``read_sql_query`` (for backward compatibility). It will delegate
to the specific function depending on the provided input. A SQL query
will be routed to ``read_sql_query``, while a database table name will
be routed to ``read_sql_table``. Note that the delegated function might
have more specific notes about their functionality not listed here.

Parameters
----------
sql : string or SQLAlchemy Selectable (select or text object)
    SQL query to be executed or a table name.
con : SQLAlchemy connectable (engine/connection) or database string URI
    or DBAPI2 connection (fallback mode)

    Using SQLAlchemy makes it possible to use any DB supported by that
    library. If a DBAPI2 object, only sqlite3 is supported.
index_col : string or list of strings, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : boolean, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point, useful for SQL result sets.
params : list, tuple or dict, optional, default: None
    List of parameters to pass to execute method.  The syntax used
    to pass parameters is database driver dependent. Check your
    database driver documentation for which of the five syntax styles,
    described in PEP 249's paramstyle, is supported.
    Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}
parse_dates : list or dict, default: None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times, or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
columns : list, default: None
    List of column names to select from SQL table (only used when reading
    a table).
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the
    number of rows to include in each chunk.

Returns
-------
DataFrame

See also
--------
read_sql_table : Read SQL database table into a DataFrame.
read_sql_query : Read SQL query into a DataFrame.
File:      ~/miniconda3/envs/ds-py3/lib/python3.6/site-packages/pandas/io/sql.py
Type:      function

In [72]:
import sqlite3
connector = sqlite3.connect(os.path.join('data', 'chinook.db'))
pd.read_sql_query("select * from albums", con=connector).head()

## Ejercicio Parte 1

1. ¿Cuáles crees que son los formatos de archivo más utilizados en la industria?

    * R1:

2. ¿Encuentras utilidad a qué existan tantos formatos de arhivos?
    
    * R2

## Obtención de datos

¿Has escuchado el término __API__? Fuera de todo tecnicismo, las APIs (_Application Programming Interface_) permiten hacer uso de funciones ya existentes en otro software (o de la infraestructura ya existente en otras plataformas) para no estar reinventando la rueda constantemente, reutilizando así código que se sabe que está probado y que funciona correctamente. Por ejemplo, cuando haces una compra online y utilizas WebPay. ¡Hay APIs en todos lados!

### Un buen ejemplo: Data Chile

Desde la web de [Data Chile](https://es.datachile.io):

- Ofrece una radiografía de las temáticas más importantes para el desarrollo del país.
- Ayuda a conocer tendencias y necesidades para el diseño e implementación de políticas públicas, programas de la sociedad civil, oportunidades de negocios y estrategias de marketing del sector privado.
- Colabora en la toma de decisiones tanto del sector público como privado.
- Integra información de más de 15 fuentes distintas pertenecientes a más de 10 organismos de Gobierno.
- Crea y combina visualizaciones interactivas.
- Piensa los datos como historias y no como archivos.

### Denme todos los datos!
DataChile posee una API de datos que entrega la información para construir los gráficos y generar todos los textos del sitio. Todos los detalles en este [link](https://es.datachile.io/about/api).

In [88]:
# import pandas as pd  # Ya importada al principio del laboratorio
from datachile import ChileCube

client = ChileCube()  # Objeto con el que es posible la conexión a DataChile

### Ejemplo 1

Esperanza de vida, Mortalidad y número de registros desagragados por Año, Región y Sexo.

In [105]:
life_expectancy = client.get(
    "life_expectancy", 
    {
        "drilldowns": [
            ["Date", "Date", "Year"],
            ["Geography", "Geography", "Region"],
            ['Sex', 'Sex', 'Sex']
        ],
        "measures": ["Number of records",
                     "Life Expectancy AVG",
                     "Mortality rate per 100 inhabitants AVG"
                    ]    
    },
    df=True
)
life_expectancy.head()

,ID Region,ID Sex,ID Year,Life Expectancy AVG,Mortality rate per 100 inhabitants,Number of records,Region,Sex,Year
0,1,0,2010,0.000000,0.00,0.0,Tarapacá,No data,2010
1,1,1,2010,75.739998,0.36,1.0,Tarapacá,Female,2010
2,1,2,2010,75.739998,0.45,1.0,Tarapacá,Male,2010
3,2,0,2010,0.000000,0.00,0.0,Antofagasta,No data,2010
4,2,1,2010,78.750000,0.44,1.0,Antofagasta,Female,2010

### Si tu cara al leer el ejemplo fue esta no te preocupes.

![Cara](https://scontent.fscl11-2.fna.fbcdn.net/v/t1.0-9/43052413_335021240587929_8656323048250540032_n.jpg?_nc_cat=110&oh=0988b519de56303c0b83ea5560b75c07&oe=5C169332)

## Entendiendo la API de Data Chile

DataChile utiliza para su funcionamiento como capa lógica Mondrian-REST, que es un componente del lado del servidor que permite la creación de APIs HTTP para acceder a una base de datos especificando la estructura lógica de la información.

Para utilizar la API de DataChile, es necesario conocer algunos conceptos que facilitarán su uso, los cuáles explicaremos a continuación.

**Cubo**

Un cubo es una colección de dimensions y measures.

En DataChile, cada dataset está agrupado en un cubo. El diseño del lenguaje de consultas a la API está centrado en torno a 3 operaciones: Drilldown, Cut, Measure. Para ejemplificar los conceptos, se utilizará el dataset exports -que representa las exportaciones de Chile- como referencia.

**Drilldown**

Algunas definiciones previas:
Un member es un valor dentro de una dimensión determinada por un set de valores. La jerarquía género tiene los miembros 'Masculino' y 'Femenino'. 'Concepción', 'Bío-Bío' y 'Chile' son todos miembros de la jerarquía Geográfica.
Un level es un conjunto de miembros que se encuentran a la misma distancia del inicio de la jerarquía. Concepción, Tucapel, Arica, se encuentran en el mismo level.
Una hierarchy es un conjunto de miembros organizados estructuradamente para su análisis. Por ejemplo, la jerarquía Geográfica consiste de nombre de comuna, regiones y país. La jerarquización permite obtener valores intermedios: Total de exportaciones de la región de Valparaíso es la suma de todas las exportaciones de las comunas de dicha región.
Una dimension es un conjunto de jerarquías que discriminan el mismo atributo (Por ejemplo, el día que se produjo una exportación)
Un drilldown permite pasar de un nivel de detalle al siguiente. La estructura de un drilldown para las consultas en el cubo es [Dimension].[Hierarchy].[Level]

**Medición**

Variable escalar asociada con un valor particular en los datos del cubo.

**Corte**

Permite al usuario especificar un filtro, que restringe las tuplas disponibles del cubo. Por ejemplo, en exports, cortar el cubo en torno al miembro [Region].[8] en la dimensión Geography, sólo considerará celdas de la región de Bío-Bío. Múltiples cortes pueden ser especificados en una simple consulta.

[Fuente](https://es.datachile.io/about/api)

In [104]:
client.get(
    "life_expectancy", 
    {
        "drilldowns": [
            ["Date", "Date", "Year"],
            ["Geography", "Geography", "Region"],
            ['Sex']
        ],
        "measures": ["Number of records",
                     "Life Expectancy AVG",
                     "Mortality rate per 100 inhabitants AVG"
                    ]    },
    df=True
)

,ID Region,ID Sex,ID Year,Life Expectancy AVG,Mortality rate per 100 inhabitants,Number of records,Region,Sex,Year
0,1,0,2010,0.000000,0.00,0.0,Tarapacá,No data,2010
1,1,1,2010,75.739998,0.36,1.0,Tarapacá,Female,2010
2,1,2,2010,75.739998,0.45,1.0,Tarapacá,Male,2010
3,2,0,2010,0.000000,0.00,0.0,Antofagasta,No data,2010
4,2,1,2010,78.750000,0.44,1.0,Antofagasta,Female,2010
5,2,2,2010,73.339996,0.52,1.0,Antofagasta,Male,2010
6,3,0,2010,0.000000,0.00,0.0,Atacama,No data,2010
7,3,1,2010,81.190002,0.42,1.0,Atacama,Female,2010
8,3,2,2010,75.279999,0.57,1.0,Atacama,Male,2010
9,4,0,2010,0.000000,0.00,0.0,Coquimbo,No data,2010
10,4,1,2010,82.019997,0.48,1.0,Coquimbo,Female,2010
11,4,2,2010,76.129997,0.58,1.0,Coquimbo,Male,2010
12,5,0,2010,0.000000,0.00,0.0,Valparaíso,No data,2010
13,5,1,2010,80.269997,0.61,1.0,Valparaíso,Female,2010
14,5,2,2010,74.930000,0.69,1.0,Valparaíso,Male,2010
15,6,0,2010,0.000000,0.00,0.0,O'Higgins,No data,2010
16,6,1,2010,80.220001,0.52,1.0,O'Higgins,Female,2010
17,6,2,2010,74.949997,0.62,1.0,O'Higgins,Male,2010
18,7,0,2010,0.000000,0.00,0.0,Maule,No data,2010
19,7,1,2010,79.769997,0.58,1.0,Maule,Female,2010
20,7,2,2010,74.370003,0.70,1.0,Maule,Male,2010
21,8,0,2010,0.000000,0.00,0.0,Biobío,No data,2010
22,8,1,2010,80.639999,0.54,1.0,Biobío,Female,2010
23,8,2,2010,74.129997,0.69,1.0,Biobío,Male,2010
24,9,0,2010,0.000000,0.00,0.0,Araucanía,No data,2010
25,9,1,2010,80.510002,0.60,1.0,Araucanía,Female,2010
26,9,2,2010,74.480003,0.69,1.0,Araucanía,Male,2010
27,10,0,2010,0.000000,0.00,0.0,Los Lagos,No data,2010
28,10,1,2010,80.190002,0.50,1.0,Los Lagos,Female,2010
29,10,2,2010,73.239998,0.63,1.0,Los Lagos,Male,2010
...,...,...,...,...,...,...,...,...,...
195,6,0,2014,0.000000,0.00,0.0,O'Higgins,No data,2014
196,6,1,2014,80.220001,0.52,1.0,O'Higgins,Female,2014
197,6,2,2014,74.949997,0.65,1.0,O'Higgins,Male,2014
198,7,0,2014,0.000000,0.00,0.0,Maule,No data,2014
199,7,1,2014,79.769997,0.54,1.0,Maule,Female,2014
200,7,2,2014,74.370003,0.66,1.0,Maule,Male,2014
201,8,0,2014,0.000000,0.00,0.0,Biobío,No data,2014
202,8,1,2014,80.639999,0.55,1.0,Biobío,Female,2014
203,8,2,2014,74.129997,0.66,1.0,Biobío,Male,2014
204,9,0,2014,0.000000,0.00,0.0,Araucanía,No data,2014
205,9,1,2014,80.510002,0.56,1.0,Araucanía,Female,2014
206,9,2,2014,74.480003,0.69,1.0,Araucanía,Male,2014
207,10,0,2014,0.000000,0.00,0.0,Los Lagos,No data,2014
208,10,1,2014,80.190002,0.54,1.0,Los Lagos,Female,2014
209,10,2,2014,73.239998,0.67,1.0,Los Lagos,Male,2014
210,11,0,2014,0.000000,0.00,0.0,Aysén,No data,2014
211,11,1,2014,83.599998,0.36,1.0,Aysén,Female,2014
212,11,2,2014,74.129997,0.53,1.0,Aysén,Male,2014
213,12,0,2014,0.000000,0.00,0.0,Magallanes,No data,2014
214,12,1,2014,80.349998,0.59,1.0,Magallanes,Female,2014
215,12,2,2014,73.809998,0.74,1.0,Magallanes,Male,2014
216,13,0,2014,0.000000,0.00,0.0,Region Metropolitana Santiago,No data,2014
217,13,1,2014,81.050003,0.52,1.0,Region Metropolitana Santiago,Female,2014
218,13,2,2014,75.620003,0.56,1.0,Region Metropolitana Santiago,Male,2014
219,14,0,2014,0.000000,0.00,0.0,Los Ríos,No data,2014
220,14,1,2014,80.059998,0.59,1.0,Los Ríos,Female,2014
221,14,2,2014,74.150002,0.71,1.0,Los Ríos,Male,2014
222,15,0,2014,0.000000,0.00,0.0,Arica y Parinacota,No data,2014
223,15,1,2014,82.089996,0.47,1.0,Arica y Parinacota,Female,2014
224,15,2,2014,75.199997,0.55,1.0,Arica y Parinacota,Male,2014

### Destripando el ejemplo anterior:

Para el ejemplo anterior básicamente se utilizó toda la información disponible de la esperanza de vida

- Cube: life_expectancy
- Drilldowns:
    * Año (Dimensión: Date, Hierarchy: Date, Level: Year)
    * Región (Dimensión: Geography, Hierarchy: Geography, Level: Region)
    * Género (Dimensión: Sex, Hierarchy: Sex, Level: Sex)
- Measures:
    * Número de registros
    * Promedio de esperanza de vida
    * Promedio de tasa promedio de mortalidad por 100 habitantes

### Ejemplo 2

Pensemos que queremos la información de la tasa de mortalidad solo por region (sin importar el año y el género), la solicitud a la API debe ser de la siguiente forma:

In [111]:
mortality_region = client.get(
    "life_expectancy", 
    {
        "drilldowns": [
            ["Geography", "Geography", "Region"],
        ],
        "measures": [
                     "Mortality rate per 100 inhabitants AVG"
                    ]    
    },
    df=True
)
mortality_region.head()

   ID Region  Mortality rate per 100 inhabitants       Region
0          1                               0.418     Tarapacá
1          2                               0.475  Antofagasta
2          3                               0.496      Atacama
3          4                               0.537     Coquimbo
4          5                               0.652   Valparaíso

### Veamos la documentación de la API de DataChile para Python

In [99]:
ChileCube??

La información de la esperanza de vida se puede obtener de la siguiente forma:

In [109]:
client.get_cube("life_expectancy")  # Es un JSON!

{'name': 'life_expectancy',
 'dimensions': [{'name': 'Date',
   'caption': 'Date',
   'type': 'standard',
   'annotations': {},
   'hierarchies': [{'name': 'Date',
     'has_all': True,
     'all_member_name': 'All Dates',
     'levels': [{'name': '(All)',
       'full_name': '[Date].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Year',
       'full_name': '[Date].[Year]',
       'depth': 1,
       'caption': 'Year',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Geography',
   'caption': 'Geography Region',
   'type': 'standard',
   'annotations': {},
   'hierarchies': [{'name': 'Geography',
     'has_all': True,
     'all_member_name': 'All Geographys',
     'levels': [{'name': '(All)',
       'full_name': '[Geography].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Region',
       'full_name': '[Geography].[Region]',
       'depth': 1,
       'caption': 'Region',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Sex',
   'caption': 'Sex',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Sexo'},
   'hierarchies': [{'name': 'Sex',
     'has_all': True,
     'all_member_name': 'All Sexs',
     'levels': [{'name': '(All)',
       'full_name': '[Sex].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Sex',
       'full_name': '[Sex].[Sex]',
       'depth': 1,
       'caption': 'Sex',
       'annotations': {'es_caption': 'Description ES',
        'es_element_caption': 'Sexo'},
       'properties': ['Description ES']}]}]}],
 'measures': [{'name': 'Number of records',
   'caption': 'Number of records',
   'annotations': {},
   'full_name': '[Measures].[Number of records]',
   'aggregator': 'COUNT'},
  {'name': 'Life Expectancy AVG',
   'caption': 'Life Expectancy AVG',
   'annotations': {'es_element_caption': 'Expectativa de vida promedio'},
   'full_name': '[Measures].[Life Expectancy AVG]',
   'aggregator': 'AVG'},
  {'name': 'Mortality rate per 100 inhabitants AVG',
   'caption': 'Mortality rate per 100 inhabitants',
   'annotations': {'es_element_caption': 'Tasa de mortalidad cada 100 habitantes'},
   'full_name': '[Measures].[Mortality rate per 100 inhabitants AVG]',
   'aggregator': 'AVG'}],
 'annotations': {'source_name': '',
  'source_link': '',
  'topic': 'health',
  'available_dimensions': 'Sex',
  'available_measures': 'Life Expectancy AVG,Mortality rate per 100 inhabitants AVG'}}

Lo primero es tener una visión de todos los cubos.

In [116]:
client.get_measures("life_expectancy")  # Lista de dicctionarios

[{'name': 'Number of records',
  'caption': 'Number of records',
  'annotations': {},
  'full_name': '[Measures].[Number of records]',
  'aggregator': 'COUNT'},
 {'name': 'Life Expectancy AVG',
  'caption': 'Life Expectancy AVG',
  'annotations': {'es_element_caption': 'Expectativa de vida promedio'},
  'full_name': '[Measures].[Life Expectancy AVG]',
  'aggregator': 'AVG'},
 {'name': 'Mortality rate per 100 inhabitants AVG',
  'caption': 'Mortality rate per 100 inhabitants',
  'annotations': {'es_element_caption': 'Tasa de mortalidad cada 100 habitantes'},
  'full_name': '[Measures].[Mortality rate per 100 inhabitants AVG]',
  'aggregator': 'AVG'}]

ProTip: Como te diste cuenta, lo que entrega es un diccionario ("""JSON""") o una lista de diccionario, por lo que si quieres explorar con más detalle una buena idea es ver las llaves que tiene para así acceder con mayor facilidad.

In [117]:
client.get_cube("life_expectancy").keys()

dict_keys(['name', 'dimensions', 'measures', 'annotations'])

In [120]:
client.get_cube("life_expectancy")['measures']

[{'name': 'Number of records',
  'caption': 'Number of records',
  'annotations': {},
  'full_name': '[Measures].[Number of records]',
  'aggregator': 'COUNT'},
 {'name': 'Life Expectancy AVG',
  'caption': 'Life Expectancy AVG',
  'annotations': {'es_element_caption': 'Expectativa de vida promedio'},
  'full_name': '[Measures].[Life Expectancy AVG]',
  'aggregator': 'AVG'},
 {'name': 'Mortality rate per 100 inhabitants AVG',
  'caption': 'Mortality rate per 100 inhabitants',
  'annotations': {'es_element_caption': 'Tasa de mortalidad cada 100 habitantes'},
  'full_name': '[Measures].[Mortality rate per 100 inhabitants AVG]',
  'aggregator': 'AVG'}]

## Veamos otros cubos

In [124]:
cubes = client.get_cubes()  # Lista de diccionarios

In [125]:
for cube in cubes:
    print(cube['name'])

tax_data
internet_access
population_estimate
exports_and_imports
casen_banking
education_sned
education_enrollment
imports
immigration
imports_old
nesi_income
casen_household
life_expectancy
exports
education_performance_new
disabilities
election_participation
casen_health_system
election_results_update
rd_survey
health_access
education_employability
psu
death_causes
crimes
nene_quarter
education_performance

# Ejercicio 2

Objetivo: Obtener la población por año y comuna.

In [127]:
client.get_cube("population_estimate")

{'name': 'population_estimate',
 'dimensions': [{'name': 'Date',
   'caption': 'Date',
   'type': 'standard',
   'annotations': {},
   'hierarchies': [{'name': 'Date',
     'has_all': True,
     'all_member_name': 'All Dates',
     'levels': [{'name': '(All)',
       'full_name': '[Date].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Year',
       'full_name': '[Date].[Year]',
       'depth': 1,
       'caption': 'Year',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Geography',
   'caption': 'Geography',
   'type': 'standard',
   'annotations': {'index_as': 'geo'},
   'hierarchies': [{'name': 'Geography',
     'has_all': True,
     'all_member_name': 'All Geographys',
     'levels': [{'name': '(All)',
       'full_name': '[Geography].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Region',
       'full_name': '[Geography].[Region]',
       'depth': 1,
       'caption': 'Region',
       'annotations': {},
       'properties': []},
      {'name': 'Comuna',
       'full_name': '[Geography].[Comuna]',
       'depth': 2,
       'caption': 'Comuna',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Sex',
   'caption': 'Sex',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Sexo'},
   'hierarchies': [{'name': 'Sex',
     'has_all': True,
     'all_member_name': 'All Sexs',
     'levels': [{'name': '(All)',
       'full_name': '[Sex].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Sex',
       'full_name': '[Sex].[Sex]',
       'depth': 1,
       'caption': 'Sex',
       'annotations': {'es_caption': 'Description ES',
        'es_element_caption': 'Sexo'},
       'properties': ['Description ES']}]}]},
  {'name': 'Age Range',
   'caption': 'Age Range',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Rango etáreo'},
   'hierarchies': [{'name': 'Age Range',
     'has_all': True,
     'all_member_name': 'All Age Ranges',
     'levels': [{'name': '(All)',
       'full_name': '[Age Range].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Age Range',
       'full_name': '[Age Range].[Age Range]',
       'depth': 1,
       'caption': 'Age Range',
       'annotations': {'es_caption': 'Description ES'},
       'properties': ['Description ES']}]}]}],
 'measures': [{'name': 'Number of records',
   'caption': 'Number of records',
   'annotations': {},
   'full_name': '[Measures].[Number of records]',
   'aggregator': 'COUNT'},
  {'name': 'Population',
   'caption': 'Population',
   'annotations': {'es_element_caption': 'Proyecciones de Población (INE 2014 basado en Censo 2000)'},
   'full_name': '[Measures].[Population]',
   'aggregator': 'SUM'},
  {'name': 'Population Rank',
   'caption': 'Population Rank',
   'annotations': {},
   'full_name': '[Measures].[Population Rank]',
   'aggregator': 'UNKNOWN'},
  {'name': 'Population Rank Decile',
   'caption': 'Population Rank Decile',
   'annotations': {},
   'full_name': '[Measures].[Population Rank Decile]',
   'aggregator': 'UNKNOWN'},
  {'name': 'Population Rank Total',
   'caption': 'Population Rank Total',
   'annotations': {},
   'full_name': '[Measures].[Population Rank Total]',
   'aggregator': 'UNKNOWN'}],
 'annotations': {'source_name': 'INE - Demográficas y Vitales',
  'source_link': 'http://www.ine.cl/estadisticas/demograficas-y-vitales',
  'topic': 'demography',
  'available_dimensions': 'Sex,Age Range',
  'available_measures': 'Population'}}

In [133]:
population = client.get(
    "population_estimate", 
    {
        "drilldowns": [
            ["Date", "Date", "Year"],
            ["Geography", "Geography", "Comuna"],
        ],
        "measures": [
            "Population",
        ],
    },
    df=True
)
population.head()

          Comuna  ID Comuna  ID Year  Population  Year
0  Alto Hospicio          5     2005     68659.0  2005
1         Camiña         26     2005      1167.0  2005
2       Colchane         58     2005      1661.0  2005
3          Huara        108     2005      2960.0  2005
4        Iquique        113     2005    180459.0  2005

## Ejercicio Parte 2

### Ejercicio 2.1
Obtener la cantidad de electores habilitados y electores que votaron por Region total (considerando todos los años disponibles)

In [134]:
client.get_cube("election_participation")

{'name': 'election_participation',
 'dimensions': [{'name': 'Date',
   'caption': 'Date',
   'type': 'standard',
   'annotations': {},
   'hierarchies': [{'name': 'Date',
     'has_all': True,
     'all_member_name': 'All Dates',
     'levels': [{'name': '(All)',
       'full_name': '[Date].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Year',
       'full_name': '[Date].[Year]',
       'depth': 1,
       'caption': 'Year',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Geography',
   'caption': 'Geography',
   'type': 'standard',
   'annotations': {'index_as': 'geo'},
   'hierarchies': [{'name': 'Geography',
     'has_all': True,
     'all_member_name': 'All Geographys',
     'levels': [{'name': '(All)',
       'full_name': '[Geography].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Region',
       'full_name': '[Geography].[Region]',
       'depth': 1,
       'caption': 'Region',
       'annotations': {},
       'properties': []},
      {'name': 'Comuna',
       'full_name': '[Geography].[Comuna]',
       'depth': 2,
       'caption': 'Comuna',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Election Type',
   'caption': 'Election Type',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Tipo de elección'},
   'hierarchies': [{'name': 'Election Type',
     'has_all': True,
     'all_member_name': 'All Election Types',
     'levels': [{'name': '(All)',
       'full_name': '[Election Type].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Election Type',
       'full_name': '[Election Type].[Election Type]',
       'depth': 1,
       'caption': 'Election Type',
       'annotations': {'es_caption': 'Description ES'},
       'properties': ['Description ES']}]}]}],
 'measures': [{'name': 'Number of records',
   'caption': 'Number of records',
   'annotations': {},
   'full_name': '[Measures].[Number of records]',
   'aggregator': 'COUNT'},
  {'name': 'Electors',
   'caption': 'Electors',
   'annotations': {'es_element_caption': 'Electores habilitados'},
   'full_name': '[Measures].[Electors]',
   'aggregator': 'SUM'},
  {'name': 'Votes',
   'caption': 'Votes',
   'annotations': {'es_element_caption': 'Electores que votaron'},
   'full_name': '[Measures].[Votes]',
   'aggregator': 'SUM'},
  {'name': 'Participation',
   'caption': 'Participation',
   'annotations': {'es_element_caption': 'Participación electoral (%)',
    'es_format': '0.0 %'},
   'full_name': '[Measures].[Participation]',
   'aggregator': 'UNKNOWN'}],
 'annotations': {'source_name': 'Participación Electoral - SERVEL',
  'source_link': 'https://www.servel.cl/',
  'topic': 'civics',
  'available_dimensions': 'Election Type',
  'available_measures': 'Electors,Votes,Participation'}}

In [137]:
client.get_cube("election_participation")['measures']

[{'name': 'Number of records',
  'caption': 'Number of records',
  'annotations': {},
  'full_name': '[Measures].[Number of records]',
  'aggregator': 'COUNT'},
 {'name': 'Electors',
  'caption': 'Electors',
  'annotations': {'es_element_caption': 'Electores habilitados'},
  'full_name': '[Measures].[Electors]',
  'aggregator': 'SUM'},
 {'name': 'Votes',
  'caption': 'Votes',
  'annotations': {'es_element_caption': 'Electores que votaron'},
  'full_name': '[Measures].[Votes]',
  'aggregator': 'SUM'},
 {'name': 'Participation',
  'caption': 'Participation',
  'annotations': {'es_element_caption': 'Participación electoral (%)',
   'es_format': '0.0 %'},
  'full_name': '[Measures].[Participation]',
  'aggregator': 'UNKNOWN'}]

In [145]:
election = client.get(
    "election_participation", 
    {
        "drilldowns": [
            ["Geography", "Geography", "Region"],
        ],
        "measures": [
            "Electors",
            "Votes",
        ],
    },
    df=True
)
election.head()

    Electors  ID Region       Region      Votes
0   725554.0          1     Tarapacá   265235.0
1  1339987.0          2  Antofagasta   489543.0
2   697827.0          3      Atacama   294723.0
3  1720066.0          4     Coquimbo   717671.0
4  4598786.0          5   Valparaíso  2023837.0

### Ejercicio 2.2
Obtener el promedio de NEM y puntaje PSU por año y tipo de instituciónn (_Administración_) desde el cubo `education_performance_new`.

In [146]:
client.get_cube("education_performance_new")

{'name': 'education_performance_new',
 'dimensions': [{'name': 'Year',
   'caption': 'Year',
   'type': 'standard',
   'annotations': {},
   'hierarchies': [{'name': 'Year',
     'has_all': True,
     'all_member_name': 'All Years',
     'levels': [{'name': '(All)',
       'full_name': '[Year].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Year',
       'full_name': '[Year].[Year]',
       'depth': 1,
       'caption': 'Year',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Institution',
   'caption': 'Institution New',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Institución'},
   'hierarchies': [{'name': 'Institution',
     'has_all': True,
     'all_member_name': 'All Institutions',
     'levels': [{'name': '(All)',
       'full_name': '[Institution].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Administration',
       'full_name': '[Institution].[Administration]',
       'depth': 1,
       'caption': 'Administration',
       'annotations': {'es_caption': 'Description ES',
        'es_element_caption': 'Administración'},
       'properties': ['Description ES']},
      {'name': 'Institution',
       'full_name': '[Institution].[Institution]',
       'depth': 2,
       'caption': 'Institution',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Geography',
   'caption': 'Geography',
   'type': 'standard',
   'annotations': {'index_as': 'geo'},
   'hierarchies': [{'name': 'Geography',
     'has_all': True,
     'all_member_name': 'All Geographys',
     'levels': [{'name': '(All)',
       'full_name': '[Geography].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Region',
       'full_name': '[Geography].[Region]',
       'depth': 1,
       'caption': 'Region',
       'annotations': {},
       'properties': []},
      {'name': 'Comuna',
       'full_name': '[Geography].[Comuna]',
       'depth': 2,
       'caption': 'Comuna',
       'annotations': {},
       'properties': []}]}]},
  {'name': 'Sex',
   'caption': 'Sex',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Sexo'},
   'hierarchies': [{'name': 'Sex',
     'has_all': True,
     'all_member_name': 'All Sexs',
     'levels': [{'name': '(All)',
       'full_name': '[Sex].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Sex',
       'full_name': '[Sex].[Sex]',
       'depth': 1,
       'caption': 'Sex',
       'annotations': {'es_caption': 'Description ES',
        'es_element_caption': 'Sexo'},
       'properties': ['Description ES']}]}]},
  {'name': 'Administration',
   'caption': 'Administration',
   'type': 'standard',
   'annotations': {'es_element_caption': 'Tipo de administración'},
   'hierarchies': [{'name': 'Administration',
     'has_all': True,
     'all_member_name': 'All Administrations',
     'levels': [{'name': '(All)',
       'full_name': '[Administration].[(All)]',
       'depth': 0,
       'caption': '(All)',
       'annotations': {},
       'properties': []},
      {'name': 'Administration',
       'full_name': '[Administration].[Administration]',
       'depth': 1,
       'caption': 'Administration',
       'annotations': {'es_caption': 'Description ES'},
       'properties': ['Description ES']}]}]}],
 'measures': [{'name': 'Number of records',
   'caption': 'Number of records',
   'annotations': {},
   'full_name': '[Measures].[Number of records]',
   'aggregator': 'COUNT'},
  {'name': 'Average PSU',
   'caption': 'Average PSU',
   'annotations': {},
   'full_name': '[Measures].[Average PSU]',
   'aggregator': 'AVG'},
  {'name': 'Average NEM',
   'caption': 'Average NEM',
   'annotations': {},
   'full_name': '[Measures].[Average NEM]',
   'aggregator': 'AVG'}],
 'annotations': {'source_name': 'Rendimiento escolar y PSU - DEMRE',
  'source_link': 'http://psu.demre.cl/',
  'topic': 'education',
  'available_measures': ''}}

In [161]:
client.get_cube("education_performance_new")['dimensions']

[{'name': 'Year',
  'caption': 'Year',
  'type': 'standard',
  'annotations': {},
  'hierarchies': [{'name': 'Year',
    'has_all': True,
    'all_member_name': 'All Years',
    'levels': [{'name': '(All)',
      'full_name': '[Year].[(All)]',
      'depth': 0,
      'caption': '(All)',
      'annotations': {},
      'properties': []},
     {'name': 'Year',
      'full_name': '[Year].[Year]',
      'depth': 1,
      'caption': 'Year',
      'annotations': {},
      'properties': []}]}]},
 {'name': 'Institution',
  'caption': 'Institution New',
  'type': 'standard',
  'annotations': {'es_element_caption': 'Institución'},
  'hierarchies': [{'name': 'Institution',
    'has_all': True,
    'all_member_name': 'All Institutions',
    'levels': [{'name': '(All)',
      'full_name': '[Institution].[(All)]',
      'depth': 0,
      'caption': '(All)',
      'annotations': {},
      'properties': []},
     {'name': 'Administration',
      'full_name': '[Institution].[Administration]',
      'depth': 1,
      'caption': 'Administration',
      'annotations': {'es_caption': 'Description ES',
       'es_element_caption': 'Administración'},
      'properties': ['Description ES']},
     {'name': 'Institution',
      'full_name': '[Institution].[Institution]',
      'depth': 2,
      'caption': 'Institution',
      'annotations': {},
      'properties': []}]}]},
 {'name': 'Geography',
  'caption': 'Geography',
  'type': 'standard',
  'annotations': {'index_as': 'geo'},
  'hierarchies': [{'name': 'Geography',
    'has_all': True,
    'all_member_name': 'All Geographys',
    'levels': [{'name': '(All)',
      'full_name': '[Geography].[(All)]',
      'depth': 0,
      'caption': '(All)',
      'annotations': {},
      'properties': []},
     {'name': 'Region',
      'full_name': '[Geography].[Region]',
      'depth': 1,
      'caption': 'Region',
      'annotations': {},
      'properties': []},
     {'name': 'Comuna',
      'full_name': '[Geography].[Comuna]',
      'depth': 2,
      'caption': 'Comuna',
      'annotations': {},
      'properties': []}]}]},
 {'name': 'Sex',
  'caption': 'Sex',
  'type': 'standard',
  'annotations': {'es_element_caption': 'Sexo'},
  'hierarchies': [{'name': 'Sex',
    'has_all': True,
    'all_member_name': 'All Sexs',
    'levels': [{'name': '(All)',
      'full_name': '[Sex].[(All)]',
      'depth': 0,
      'caption': '(All)',
      'annotations': {},
      'properties': []},
     {'name': 'Sex',
      'full_name': '[Sex].[Sex]',
      'depth': 1,
      'caption': 'Sex',
      'annotations': {'es_caption': 'Description ES',
       'es_element_caption': 'Sexo'},
      'properties': ['Description ES']}]}]},
 {'name': 'Administration',
  'caption': 'Administration',
  'type': 'standard',
  'annotations': {'es_element_caption': 'Tipo de administración'},
  'hierarchies': [{'name': 'Administration',
    'has_all': True,
    'all_member_name': 'All Administrations',
    'levels': [{'name': '(All)',
      'full_name': '[Administration].[(All)]',
      'depth': 0,
      'caption': '(All)',
      'annotations': {},
      'properties': []},
     {'name': 'Administration',
      'full_name': '[Administration].[Administration]',
      'depth': 1,
      'caption': 'Administration',
      'annotations': {'es_caption': 'Description ES'},
      'properties': ['Description ES']}]}]}]

In [147]:
client.get_cube("education_performance_new")['measures']

[{'name': 'Number of records',
  'caption': 'Number of records',
  'annotations': {},
  'full_name': '[Measures].[Number of records]',
  'aggregator': 'COUNT'},
 {'name': 'Average PSU',
  'caption': 'Average PSU',
  'annotations': {},
  'full_name': '[Measures].[Average PSU]',
  'aggregator': 'AVG'},
 {'name': 'Average NEM',
  'caption': 'Average NEM',
  'annotations': {},
  'full_name': '[Measures].[Average NEM]',
  'aggregator': 'AVG'}]

In [160]:
psu_nem = client.get(
    "education_performance_new", 
    {
        "drilldowns": [
            ["Year", "Year", "Year"],
            ["Institution", "Institution", "Administration"],
        ],
        "measures": [
            "Average PSU",
            "Average NEM",
        ],
    },
    df=True
)
psu_nem.head()

,Administration,Average NEM,Average PSU,ID Administration,ID Year,Year
0,Municipal,5.658971,473.056183,1,2004,2004
1,Private Subsidized,5.693213,498.350138,2,2004,2004
2,Private,5.866736,587.270959,3,2004,2004
3,Delegated Administration,5.637739,474.028269,4,2004,2004
4,Municipal,5.681996,476.347783,1,2005,2005